---
title: HELLO FRIEND!!!
layout: layouts/home.njk
description: My Digital Garden where I plant my knowledge & bullshit.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  If you ask me what I came into this life to do, I will tell you I came to live out loud  
  <em><small style="color: yellow;">- Émile Zola</small></em> in the jungle 
  <em><small style="color: yellow">- me</small></em>
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>