---
title: HELLO FRIEND!!!
layout: layouts/home.njk
description: My Digital Garden where I plant my knowledge & bullshit.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Welcome to my Digital Garden where I plant the seeds of my knowledge (That sounds cool!!!) 🌱
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>