---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}


{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = wc / 240 %}
   <aside>
     {{ wPerMinute | round }} min read.
   </aside>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<h3>🎉💅✨</h3>
<p>
  Oh Hi👋 You made it this far cool! 🙌
  If you would love to share it somewhere <a href="{{ shareUrl | safe }}" on-click="share">here you GO.</a> 
  Also, I would 💖 to hear your feedback, so feel free to 
  <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">ping me on Twitter.</a>
  or tag me if you wish.
  Bye for now.
  Keep Learning! 🤞
</p>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}